html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@media only screen and (max-width: 500px) {
    /* For tablets: */
    .row3 {display: flex; flex-direction: column;} /* if less than 500px featured work orientation is changed to column type. As we want the text to be clear */
}

@media only screen and (min-width: 700px) {
    /* For desktop: */
     .row3 {display: flex; flex-direction: row;} /* if greater than 700px orientation of featured work is row */
}

body {
    margin: 2%;
    font-family: 'Lato', sans-serif;
    font-size: calc(0.75em + 1.2vmin);  /* font auto resizing */
}

.sidepanel {
    min-height: 100vh;
    padding-top: 20%;
    margin: 0;
    border: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.box1 {
    background: #1eb4e2;
    height: 3vw;
    width:  3vw;
    margin: 5%;
}

.box2 {
    background: #2e3c48;
    height: 3vw;
    width: 3vw;
    margin: 5%;
}

.box3 {
    background: #7d97ac;
    height: 3vw;
    width: 3vw;
    margin: 5%;
}

.maincontent {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

.row1 {
 
    height: 20%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
}

.row1 .imageholder {
    width: 20%;
    align-items: center;
}

.row1 .pageheading {
    width: 80%;
    height: 100%;
    padding: 5%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img {
    height: 100%;
    width: 100%;
}

hr {
    padding: 0;
    margin: 2%;
    border: 1px solid;
}

.row2 {
    height: 45%;
    width: 100%;
}

.row3 {
    width: 100%;  
}

.row3 .thumbnail {
    height: 100%;
    width: 33.33%;
    margin: 1%;
    border: 0;
}

.thumbnail .img {
    height: 70%;
    width: 100%;
    margin-bottom: 2%;
    padding: 0;
}

.clearfloat {
	clear: both;
}

.color-font {
    color: #899cb0;
}